<fieldset class="module aligned {{ fieldset.classes }}">
<!-- 如果是一组字段，则显示组名； 有组描述也显示 -->
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
<!-- 逐行显示字段 -->
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents|linebreaksbr }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}

                    {% if field.field.name == 'detail' and opts.module_name == 'chip' %}
                    <a href="" id="idGetContent">获取 MD 正文</a>
                    <a href="" id="idOriginUrl" target="blank">查看原文</a>
                    <script type="text/javascript">
                        // 扩大 url 的长度，方便有些情况下分页
                        django.jQuery('#id_url').css('width', '600px')

                        // 修改 form 的 action
                        django.jQuery("#chip_form").attr('action', 'http://www.webrube.com/articles/add');
                        django.jQuery("#chip_form").attr('target', '_blank');
                        // 摘要跟内容相同则去掉内容
                        if(django.jQuery("#id_detail").val() == django.jQuery("#id_summary").val())
                        {
                            django.jQuery("#id_detail").val('');
                        }
                        

                        django.jQuery("#idOriginUrl").attr('href', django.jQuery("#id_url").val());
                        django.jQuery("#idGetContent").click(function(){
                        var url = django.jQuery("#id_url").val();
                        url = encodeURIComponent(url);
                        django.jQuery.get("/chip/fetch/" + url , {},function(result){
                            // 为了避免 id_detail 中断行造成的问题，把 id_detail 改名，新建隐藏表单 name="detail" 
                            var DetailInput = django.jQuery("#id_detail");

                            // 如果有记录前面加载的 url 并且前后两次不同，则追加方式
                            // alert("1:" + DetailInput.data('pre_url'));
                            if(DetailInput.data('pre_url') === null || DetailInput.data('pre_url') === undefined || DetailInput.data('pre_url') == django.jQuery("#id_url").val() )
                            {
                                DetailInput.val(result.detail);
                                DetailInput.data('pre_url', django.jQuery("#id_url").val());
                                // alert("2:" + DetailInput.data('pre_url'));

                            }
                            else
                            {
                                DetailInput.val(DetailInput.val() + result.detail);

                            }

                            // alert(result.detail)
                            if(typeof(result.title) != 'undefined') django.jQuery("#id_title").val(result.title);
                            if(typeof(result.summary) != 'undefined') django.jQuery("#id_summary").val(result.summary);
                            if(typeof(result.author) != 'undefined') django.jQuery("#id_author").val(result.author);
                            if(typeof(result.author_url) != 'undefined') django.jQuery("#id_author_url").val(result.author_url);
                            // if(typeof(result.author) != 'undefined') django.jQuery("#id_author").val(result.author);
                            // django.jQuery("<input type='hidden' module_name='detail' id='id_detail_new' />").val(result.detail).appendTo("div.field-detail");
                            return false;
                        }, 'json');
                        return false;
                    });
                    </script>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
<!-- 注释说明: field.field 是带了编辑的 value 的 input;  field.field.name 是字段名 同理还有 .value -->
<!-- 注释说明: opts.module_name 是模块/app 名 -->
